.app-wrap {
    max-width: 100%;
}

@font-face {
    font-family: Grotesk;
    src: url(../public/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}

.Grotesk {
    font-family: Grotesk;
}

@font-face {
    font-family: Poppins;
    src: url(../public/Poppins/Poppins/Poppins-Regular.ttf);
}

.Poppins {
    font-family: Poppins;
}